{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}

    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Thống kê</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">Widget</a></li>
                                <li class="breadcrumb-item" aria-current="page">Statistics</li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="text-center" id="actionTime" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-original-title="Tùy chỉnh thời gian"><i class="fas fa-calendar-alt"></i>
                        <span data-type="{{ typeDate }}" data-time="{{ _revenueTime }}">{{ formatDate
                            _revenueTime typeDate }}</span>
                        <i class="fas fa-calendar-alt"></i>
                    </h3>
                </div>
            </div><!-- [ breadcrumb ] end -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card feed-card card-border-none">
                        <div class="card-body py-0">
                            <div class="row">
                                <div class="col-4 bg-info border-feed">
                                    <i class="material-icons-two-tone d-block f-46">input</i>
                                </div>
                                <div class="col-8">
                                    <div class="p-t-25 p-b-25">
                                        <p class="text-muted m-0">Tổng nhận từ ATM</p>
                                        <h2 class="f-w-400 m-b-10">{{ numberFormat revenueData.receipt }}đ</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card feed-card card-border-none">
                        <div class="card-body py-0">
                            <div class="row">
                                <div class="col-4 bg-success border-feed"><i
                                        class="material-icons-two-tone d-block f-46">account_balance_wallet</i></div>
                                <div class="col-8">
                                    <div class="p-t-25 p-b-25">
                                        <p class="text-muted m-0">Tổng trừ từ MOMO</p>
                                        <h2 class="f-w-400 m-b-10">{{ numberFormat revenueData.minus }}đ</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card feed-card card-border-none">
                        <div class="card-body py-0">
                            <div class="row">
                                <div class="col-4 bg-danger border-feed"><i
                                        class="material-icons-two-tone d-block f-46">emoji_events</i></div>
                                <div class="col-8">
                                    <div class="p-t-25 p-b-25">
                                        <p class="text-muted m-0"> <span class="text-danger f-w-400">Tổng trừ từ
                                                Event</span></p>
                                        <h2 class="f-w-400 m-b-10">3,619</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card feed-card card-border-none">
                        <div class="card-body py-0">
                            <div class="row">
                                <div class="col-4 bg-warning border-feed"><i
                                        class="material-icons-two-tone d-block f-46">insert_emoticon</i></div>
                                <div class="col-8">
                                    <div class="p-t-25 p-b-25">
                                        <p class="text-muted m-0">Thành viên mới</p>
                                        <h2 class="f-w-400 m-b-10">9,276</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-6">
                    <div class="card statistics-card-1">
                        <div class="card-body"><img src="../assets/images/widget/img-status-2.svg" alt="img"
                                class="img-fluid img-bg">
                            <div class="d-flex align-items-center">
                                <div class="avtar bg-brand-color-1 text-white me-3"><i
                                        class="ph-duotone ph-currency-dollar f-26"></i></div>
                                <div>
                                    <p class="text-muted mb-0">Thống kê nạp tiền</p>
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 f-w-500"><span class="text-muted">$</span> 134.6 <small
                                                class="text-muted">k</small></h2><span
                                            class="badge bg-light-success ms-2"><i class="ti ti-chevrons-up"></i>
                                            55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-6">
                    <div class="card statistics-card-1">
                        <div class="card-body"><img src="../assets/images/widget/img-status-2.svg" alt="img"
                                class="img-fluid img-bg">
                            <div class="d-flex align-items-center">
                                <div class="avtar bg-brand-color-1 text-white me-3"><i
                                        class="ph-duotone ph-currency-dollar f-26"></i></div>
                                <div>
                                    <p class="text-muted mb-0">Thống kê rút tiền</p>
                                    <div class="d-flex align-items-end">
                                        <h2 class="mb-0 f-w-500"><span class="text-muted">$</span> 134.6 <small
                                                class="text-muted">k</small></h2><span
                                            class="badge bg-light-success ms-2"><i class="ti ti-chevrons-up"></i>
                                            55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-3">
                    <div class="card bg-success text-white widget-visitor-card">
                        <div class="card-body text-center">
                            <h2 class="text-white">{{ revenueData.win }}</h2>
                            <h6 class="text-white">Lượt thắng</h6><i
                                class="material-icons-two-tone d-block f-46 text-white">check_circle</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-3">
                    <div class="card bg-danger text-white widget-visitor-card">
                        <div class="card-body text-center">
                            <h2 class="text-white">{{ revenueData.won }}</h2>
                            <h6 class="text-white">Lượt thua</h6><i
                                class="material-icons-two-tone d-block f-46 text-white">highlight_off</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-3">
                    <div class="card bg-warning text-white widget-visitor-card">
                        <div class="card-body text-center">
                            <h2 class="text-white">{{ revenueData.error }}</h2>
                            <h6 class="text-white">Lượt lỗi</h6><i
                                class="material-icons-two-tone d-block f-46 text-white">help</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xxl-3">
                    <div class="card bg-info text-white widget-visitor-card">
                        <div class="card-body text-center">
                            <h2 class="text-white">{{ revenueData.wait }}</h2>
                            <h6 class="text-white">Đợi thanh toán</h6><i
                                class="material-icons-two-tone d-block f-46 text-white">info</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card balance-card card-border-primary">
                        <div class="card-header">
                            <h5>Số dư thành viên</h5>
                        </div>
                        <div class="card-body">
                            <h2>$167.20</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card balance-card card-border-warning">
                        <div class="card-header">
                            <h5>Số dư ATM</h5>
                        </div>
                        <div class="card-body">
                            <h2>{{ numberFormat amountBank }}đ</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card balance-card card-border-danger">
                        <div class="card-header">
                            <h5>Số dư Momo</h5>
                        </div>
                        <div class="card-body">
                            <h2>{{ numberFormat amountMomo }}đ</h2>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card prod-p-card bg-danger">
                        <div class="card-body">
                            <div class="row align-items-center m-b-25">
                                <div class="col">
                                    <h6 class="m-b-5 text-white">Doanh thu</h6>
                                    <h3 class="m-b-0 text-white">{{ numberFormat revenueData.earning }}</h3>
                                </div>
                                <div class="col-auto"><i class="material-icons-two-tone text-white">monetization_on</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card prod-p-card bg-primary">
                        <div class="card-body">
                            <div class="row align-items-center m-b-25">
                                <div class="col">
                                    <h6 class="m-b-5 text-white">Doanh thu hôm qua</h6>
                                    <h3 class="m-b-0 text-white">{{ numberFormat revenueData.earningLastDay }}</h3>
                                </div>
                                <div class="col-auto"><i class="material-icons-two-tone text-white">monetization_on</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card prod-p-card bg-success">
                        <div class="card-body">
                            <div class="row align-items-center m-b-25">
                                <div class="col">
                                    <h6 class="m-b-5 text-white">Doanh thu tháng này</h6>
                                    <h3 class="m-b-0 text-white">{{ numberFormat revenueData.earning }}</h3>
                                </div>
                                <div class="col-auto"><i class="material-icons-two-tone text-white">monetization_on</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card prod-p-card bg-warning">
                        <div class="card-body">
                            <div class="row align-items-center m-b-25">
                                <div class="col">
                                    <h6 class="m-b-5 text-white">Doanh thu tháng trước</h6>
                                    <h3 class="m-b-0 text-white">{{ numberFormat revenueData.earningLastDay }}</h3>
                                </div>
                                <div class="col-auto"><i class="material-icons-two-tone text-white">monetization_on</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- product profit end --><!-- client-section start -->
                <div class="col-xl-6 col-md-6">
                    <div class="card Application-list table-card">
                        <div class="card-header">
                            <h5>Đơn rút tiền gần đây nhất</h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="app-scroll simplebar-scrollable-y" style="height:365px;position:relative;"
                                    data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                                    aria-label="scrollable content"
                                                    style="height: 100%; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <table class="table table-hover m-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Image</th>
                                                                    <th>Application</th>
                                                                    <th>Installs</th>
                                                                    <th>Created</th>
                                                                    <th>Budget</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-2.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Facebook</h6>
                                                                        <p class="m-0">Apple</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">523.423</p><span
                                                                            class="text-success m-0">+ 84 Daily</span>
                                                                    </td>
                                                                    <td>Feb 11 2017</td>
                                                                    <td>$ 16,244</td>
                                                                    <td><a class="badge bg-light-primary f-12"
                                                                            href="#!">Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-1.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Twitter</h6>
                                                                        <p class="m-0">CS Form</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">7.239</p><span
                                                                            class="text-warning m-0">+ 5 Daily</span>
                                                                    </td>
                                                                    <td>Jan 19 2017</td>
                                                                    <td>$ 3,937</td>
                                                                    <td><a class="badge bg-light-warning f-12"
                                                                            href="#!">Not
                                                                            Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-3.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Instagram</h6>
                                                                        <p class="m-0">Microsoft</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">5.877</p><span
                                                                            class="text-success m-0">+ 12 Daily</span>
                                                                    </td>
                                                                    <td>Aug 04 2017</td>
                                                                    <td>$ 28,039</td>
                                                                    <td><a class="badge bg-light-success f-12"
                                                                            href="#!">Paused</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-2.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Facebook</h6>
                                                                        <p class="m-0">Apple</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">523.423</p><span
                                                                            class="text-success m-0">+ 50 Daily</span>
                                                                    </td>
                                                                    <td>April 10 2017</td>
                                                                    <td>$ 16,244</td>
                                                                    <td><a class="badge bg-light-primary f-12"
                                                                            href="#!">Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-1.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Twitter</h6>
                                                                        <p class="m-0">CS Form</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">7.239</p><span
                                                                            class="text-warning m-0">+ 5 Daily</span>
                                                                    </td>
                                                                    <td>May 20 2018</td>
                                                                    <td>$ 3,937</td>
                                                                    <td><a class="badge bg-light-warning f-12"
                                                                            href="#!">Not
                                                                            Active</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 1594px; height: 395px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar"
                                            style="height: 337px; transform: translate3d(0px, 0px, 0px); display: block;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card Application-list table-card">
                        <div class="card-header">
                            <h5>Đơn nạp tiền gần đây nhất</h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div class="app-scroll simplebar-scrollable-y" style="height:365px;position:relative;"
                                    data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                                    aria-label="scrollable content"
                                                    style="height: 100%; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <table class="table table-hover m-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Image</th>
                                                                    <th>Application</th>
                                                                    <th>Installs</th>
                                                                    <th>Created</th>
                                                                    <th>Budget</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-2.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Facebook</h6>
                                                                        <p class="m-0">Apple</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">523.423</p><span
                                                                            class="text-success m-0">+ 84 Daily</span>
                                                                    </td>
                                                                    <td>Feb 11 2017</td>
                                                                    <td>$ 16,244</td>
                                                                    <td><a class="badge bg-light-primary f-12"
                                                                            href="#!">Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-1.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Twitter</h6>
                                                                        <p class="m-0">CS Form</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">7.239</p><span
                                                                            class="text-warning m-0">+ 5 Daily</span>
                                                                    </td>
                                                                    <td>Jan 19 2017</td>
                                                                    <td>$ 3,937</td>
                                                                    <td><a class="badge bg-light-warning f-12"
                                                                            href="#!">Not
                                                                            Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-3.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Instagram</h6>
                                                                        <p class="m-0">Microsoft</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">5.877</p><span
                                                                            class="text-success m-0">+ 12 Daily</span>
                                                                    </td>
                                                                    <td>Aug 04 2017</td>
                                                                    <td>$ 28,039</td>
                                                                    <td><a class="badge bg-light-success f-12"
                                                                            href="#!">Paused</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-2.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Facebook</h6>
                                                                        <p class="m-0">Apple</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">523.423</p><span
                                                                            class="text-success m-0">+ 50 Daily</span>
                                                                    </td>
                                                                    <td>April 10 2017</td>
                                                                    <td>$ 16,244</td>
                                                                    <td><a class="badge bg-light-primary f-12"
                                                                            href="#!">Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img class="rounded-circle" style="width:40px;"
                                                                            src="../assets/images/user/avatar-1.jpg"
                                                                            alt="activity-user"></td>
                                                                    <td>
                                                                        <h6 class="mb-1">Twitter</h6>
                                                                        <p class="m-0">CS Form</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-1">7.239</p><span
                                                                            class="text-warning m-0">+ 5 Daily</span>
                                                                    </td>
                                                                    <td>May 20 2018</td>
                                                                    <td>$ 3,937</td>
                                                                    <td><a class="badge bg-light-warning f-12"
                                                                            href="#!">Not
                                                                            Active</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 1594px; height: 395px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar"
                                            style="height: 337px; transform: translate3d(0px, 0px, 0px); display: block;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card task-card" style="height:500px;position:relative;">
                        <div class="card-header">
                            <h6>Lịch Sử Hệ Thống</h6>
                            <div class="card-extra">
                                <span class="btn btn-danger btn-xs delete-log" data-id="all">Xóa tất cả</span>
                            </div>
                        </div>
                        <div class="card-body" style="height: 100%; overflow: hidden scroll;">
                            <ul class="list-unstyled task-list">
                                {{#each logs}}
                                <li id="{{ this._id }}">
                                    <i
                                        class="feather icon-check f-w-600 task-icon bg-{{ randArray 'primary,secondary,danger,info,success'}}"></i>
                                    <p class="m-b-5">{{ timeNow this.createdAt }} - {{ formatDate this.createdAt
                                        'HH:mm:ss DD-MM-YYYY' }}</p>
                                    <h6 class="text-muted">
                                        {{{ this.content }}}
                                    </h6>
                                </li>
                                {{else}}
                                <div class="dm-empty text-center">
                                    <div class="dm-empty__image">
                                        <img src="/assets/images/1.png" alt="Rỗng">
                                    </div>
                                    <div class="dm-empty__text">
                                        <p class="">Không có dữ liệu !</p>
                                    </div>
                                </div>
                                {{/each}}
                            </ul>
                            <div class="text-center"><a href="#!" class="b-b-primary text-primary">View Friend List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTime" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content radius-xl">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa-lg uil uil-credit-card-search"></i> Tùy Chỉnh Thống Kê</h5>
                    <a href="..{{ adminPath }}" class="color-dark">
                        <span><i class="fa fa-redo"></i></span>
                    </a>
                </div>
                <form action="" method="get">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="" class="form-label color-dark fw-500">Thời gian</label>
                            <input type="date" name="_revenueTime" class="form-control ih-medium ip-light" value="">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label color-dark fw-500">Loại</label>
                            <div class="radio-horizontal-list d-flex">
                                <div class="radio-theme-default custom-radio">
                                    <input class="radio" type="radio" name="typeDate" id="typeDate-day" value="day">
                                    <label for="typeDate-day">
                                        <span class="radio-text">Ngày</span>
                                    </label>
                                </div>
                                <div class="radio-theme-default custom-radio">
                                    <input class="radio" type="radio" name="typeDate" id="typeDate-month" value="month">
                                    <label for="typeDate-month">
                                        <span class="radio-text">Tháng</span>
                                    </label>
                                </div>
                                <div class="radio-theme-default custom-radio">
                                    <input class="radio" type="radio" name="typeDate" id="typeDate-all" value="all">
                                    <label for="typeDate-all">
                                        <span class="radio-text">Tất cả</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Đóng</button>
                            <button class="btn btn-primary btn-sm">Truy Vấn</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    {{>foot}}
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('click', '.delete-log', function (e) {
            let id = $(this).data('id');

            $(this).html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-secondary"></span><span class="spin-dot badge-dot dot-secondary"></span><span class="spin-dot badge-dot dot-secondary"></span><span class="spin-dot badge-dot dot-secondary"></span></div>`).prop('disabled', true);

            instance.delete(`logSystem/${id}`)
                .then((response) => {
                    let data = response.data;

                    data.success ? id == 'all' ? $('ul.timeline>li.timeline-inverted').remove() : $(`#${id}`).remove() : swal('Thông Báo', data.message, 'error');
                })
                .catch((err) => {
                    swal('Thông Báo', err.message || err, 'error');
                })
                .finally(() => $(this).html(id == 'all' ? 'Xóa tất cả' : `<i class="uil uil-trash"></i>`).prop('disabled', false));
        })

        socket.on('logSystem', function (data) {
            let array = ['info', 'warning', 'danger', 'dark', 'light', 'primary', 'secondary'];
            $('div.dm-empty').remove();
            $('ul.timeline').prepend(`<li class="timeline-inverted" id="${data._id}"><span class="timeline-single__buble" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="${data.typeData}"><span class="bg-${array[Math.floor(Math.random() * array.length)]}"></span></span><div class="timeline-single"><div class="timeline-single__days"><span class="text-danger hand delete-log"data-id="${data._id}"><i class="uil uil-trash"></i></span><span>${moment(data.time).locale("vi").fromNow()} - ${moment(data.createdAt).format('HH:mm:ss DD-MM-YYYY')}</span></div><div class="timeline-single__content"><divclass="d-flex justify-content-between align-content-center flex-wrap"><div class="d-flex align-content-center">${data.content}</div></div></div></div></li>`);
        })
    })
</script>

</html>