{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}
    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Cài đặt nhiệm vụ ngày</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">EVENT</a></li>
                                <li class="breadcrumb-item" aria-current="page">Cài đặt nhiệm vụ ngày</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Nhiệm vụ ngày</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <th>
                                                        <span data-row="add">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </span>
                                                    </th>
                                                    <th>Level</th>
                                                    <th>Điều kiện</th>
                                                    <th>Phần thưởng</th>
                                                </thead>
                                                <tbody class="table-row">
                                                    {{#each list}}
                                                    <tr data-id="{{ this._id }}">
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <span data-row="edit" data-id="{{ this._id }}"
                                                                    class="text-success">
                                                                    <i class="fa fa-edit text-success"></i>
                                                                </span>
                                                                <span class="text-danger" data-row="delete"
                                                                    data-id="{{ this._id }}">
                                                                    <i class="ti ti-trash f-18" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <b class="level">{{ this.level }}</b>
                                                            <input type="text" name="level" class="form-control hide"
                                                                value="{{ this.level }}">
                                                        </td>
                                                        <td>
                                                            <b class="min">{{ numberFormat this.amount }}</b>
                                                            <input type="text" name="min" class="form-control hide"
                                                                value="{{ this.amount }}">
                                                        </td>
                                                        <td>
                                                            <b class="gift">{{ numberFormat this.bonus }}</b>
                                                            <input type="text" name="gift" class="form-control hide"
                                                                value="{{ this.amount }}">
                                                        </td>
                                                    </tr>
                                                    {{else}}
                                                    <tr class="empty">
                                                        <td colspan="24">
                                                            <div class="dm-empty text-center">
                                                                <div class="dm-empty__image">
                                                                    <img src="/assets/images/1.png" alt="Rỗng">
                                                                </div>
                                                                <div class="dm-empty__text">
                                                                    <p class="">Không có dữ liệu !</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>foot}}
</body>
<script>
    let urlDoamin = '{{urlCurl}}';
    let elmWrapper = $('table tbody');

    $('body').on('click', 'span[data-row="add"]', function (e) {

        $('table tbody tr.empty').addClass('hide');

        var data_row = Date.now();
        let rowRender = `<tr data-id="${data_row}"><td><div class="d-flex gap-2"><span data-row="confirm" data-id="${data_row}" class="text-success"><i class="fa fa-plus-circle text-success"></i></span><span class="text-danger" data-row="remove" data-id="${data_row}"><i class="ti ti-trash f-18" aria-hidden="true"></i></span></div></td><td><input type="text" name="level" class="form-control" value=""></td><td><input type="text" name="min" class="form-control" value=""></td><td><input type="text" name="gift" class="form-control" value=""></td></tr>`;

        elmWrapper.prepend(rowRender);

    }).on('click', 'span[data-row="confirm"]', function (e) {
        var dataId = $(this).data('id');
        var level = $(`tr[data-id="${dataId}"] input[name="level"]`).val();
        var min = $(`tr[data-id="${dataId}"] input[name="min"]`).val();
        var gift = $(`tr[data-id="${dataId}"] input[name="gift"]`).val();

        let data = JSON.stringify({
            min,
            gift,
            level
        });

        let config = {
            method: 'post',
            maxBodyLength: Infinity,
            url: urlDoamin + '/mission/add',
            headers: {
                'Content-Type': 'application/json'
            },
            data: data
        };

        axios.request(config)
            .then((response) => {
                response.data.status ? swal('Thông báo', response.data.message, 'success') : swal('Thông báo', response.data.message, 'error');
            })
            .catch((err) => {
                swal('Thông Báo', err.message || err, 'error');

            });

    }).on('click', 'span[data-row="remove"]', function (e) {
        var dataId = $(this).data('id');
        $(this).closest(`tr[data-id="${dataId}`).remove();

        var rowCount = 0;

        $(`table tbody tr.show`).each(function () {
            rowCount++;
        });

        if (rowCount <= 0) {
            $('table tbody tr.empty').removeClass('hide');
        }

        console.log(rowCount);
    }).on('click', 'span[data-row="edit"]', function (e) {
        var dataId = $(this).data('id');

        $(`tr[data-id="${dataId}"] input`).removeClass('hide');
        $(`tr[data-id="${dataId}"] b`).addClass('hide');
    }).on('dblclick', 'span[data-row="edit"]', function (e) {
        var dataId = $(this).data('id');

        var level = $(`tr[data-id="${dataId}"] input[name="level"]`).val();
        var min = $(`tr[data-id="${dataId}"] input[name="min"]`).val();
        var gift = $(`tr[data-id="${dataId}"] input[name="gift"]`).val();

        let data = JSON.stringify({
            min,
            gift,
            level,
            id: dataId
        });


        let config = {
            method: 'post',
            maxBodyLength: Infinity,
            url: urlDoamin + '/mission/update',
            headers: {
                'Content-Type': 'application/json'
            },
            data: data
        };

        axios.request(config)
            .then((response) => {
                if (response.data.status) {
                    $(`tr[data-id="${dataId}"] input`).addClass('hide');
                    $(`tr[data-id="${dataId}"] b`).removeClass('hide');

                    swal('Thông báo', response.data.message, 'success')


                    $(`tr[data-id="${dataId}"] input[name="level"]`).val(level);
                    $(`tr[data-id="${dataId}"] input[name="min"]`).val(min);
                    $(`tr[data-id="${dataId}"] input[name="gift"]`).val(gift);


                    $(`tr[data-id="${dataId}"] b.level`).html(Intl.NumberFormat('en-US').format(level));
                    $(`tr[data-id="${dataId}"] b.min`).html(Intl.NumberFormat('en-US').format(min));
                    $(`tr[data-id="${dataId}"] b.gift`).html(Intl.NumberFormat('en-US').format(gift));

                } else {
                    swal('Thông báo', response.data.message, 'error')
                }
            })
            .catch((err) => {
                swal('Thông Báo', err.message || err, 'error');

            });


    }).on('click', 'span[data-row="delete"]', function (e) {
        var dataId = $(this).data('id');

        Swal.fire({
            icon: 'info',
            title: "Bạn chắc chắn muốn xóa #" + dataId + ' không?',
            showDenyButton: true,
            confirmButtonText: "Đồng ý",
            denyButtonText: "Đóng"
        }).then((result) => {
            if (result.isConfirmed) {

                let config = {
                    method: 'post',
                    maxBodyLength: Infinity,
                    url: urlDoamin + '/mission/delete',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: {
                        id: dataId
                    }
                };

                axios.request(config)
                    .then((response) => {
                        response.data.status ? swal('Thông báo', response.data.message, 'success') && setTimeout(() => window.location.reload(), 1500) : swal('Thông báo', response.data.message, 'error');
                    })
                    .catch((err) => {
                        swal('Thông Báo', err.message || err, 'error');

                    });

            } else if (result.isDenied) {
                Swal.fire("Đã hủy thao tác", "", "info");
            }
        });
    });

</script>

</html>